*,
::before,
::after{
    box-sizing:border-box;
    margin:0;
    padding: 0;

}


body{
    background-image: repeating-linear-gradient(135deg, rgba(0,0,0,0.03) 0px, rgba(0,0,0,0.03) 2px,transparent 2px, transparent 4px),linear-gradient(45deg, rgb(18, 105, 233),rgb(166, 255, 155));
    height: 100vh;
}


